
html,body{
    max-width: 100%;
}

.quote{
    text-align: center;
}

.header{
    display: flex;
    width: 100%;
    height: 100%; 
    align-items: center;
    justify-content: center;
    border:none;
}

.navigationPane{

    display: flex;
    width: 100%;
    height: 5vh;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
}
.links{
    text-decoration: none; 
    font-size: 16px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 25px;
    padding-right: 25px;
    height: 30px;
    /* transition-duration: 0.5s; */
    color: black;
    align-items: center;
    justify-content: center;
    padding-bottom: 25px;
}

.main{
    display: flex;
    width: 100%;
    height: 100vh;
    align-content: center;
    background-image: url(/media/cover.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 2%;

}

.Cover{
    
    margin: 0px;
    margin-top: 100px;
    padding: 40px;
    padding-bottom: 0%;
    padding-left: 20px;
    font-size: 60px;
    font-style: bold;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.sub{
    display: flex;
    margin-top: 0px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 0px;
    
}

.blogpostheader{

    display: flex;
    width: 100%;
    height: 8vh;
    align-items: center;
    justify-content: center;
    padding-bottom: 6%;
}

.blogPost{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
}

.content{

    display: flex;
    width: 100%;
    height: 90vh;
    justify-content: center;
    color: cornsilk;



}

.post1{
    display: flex;
    width: 80%;
    height: 60%;
    background-image: url(/media/post-1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 20px;
    padding-top: 5%;
    padding-bottom: 10%;
    font-weight: lighter;

}


.post2{
    display: flex;
    width: 80%;
    height: 60%;
    background-image: url(/media/post-2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 20px;
    padding-top: 5%;
    padding-bottom: 10%;
    font-weight: lighter;
}

.post3{
    display: flex;
    width: 80%;
    height: 60%;
    background-image: url(/media/post-3.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 20px;
    padding-top: 5%;
    padding-bottom: 10%;
    font-weight: lighter;
}


.footer1{
    display: flex;
    width: 100%;
    height: 15vh;
    /* padding-top: 20%; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 25px;
    background-color:#ff6f61;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
    
}

/* .footQuote{
    display: flex;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 25px;
} */


.footer2{

    display: flex;
    width: 100%;
    height: 10vh;
    background-color:white;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;


}